body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  min-width: 1200px;
}

/*Общие описания*/
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.button {
  width: 160px;
  height: 50px;
  font: inherit;
  border-radius: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 18px;
  font-weight: 500;


  border: none;
  background-color: #ffffff;
}

.button:active {
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Конец общих описаний*/

/*описание header главной страницы*/

.main-header {
  background-color: #eeeeee;
  padding: 0;
  padding-top: 49px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  background-color: inherit;
}

.main-header-logo {
  margin-right: 20px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header-logo img {
  display: block;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  padding-top: 16px;
  list-style: none;
  font-weight: bold;
}

.site-navigation li {
  margin-right: 47px;
}

.cart {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0px;
  padding-left: 57px;
  padding-top: 16px;
  vertical-align: inherit;
}

.cart-item::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon_cart.svg");
  background-repeat: no-repeat;
  bottom: 8px;
  left: -40px;
}

.site-navigation a,
.cart a {
  display: block;
  position: relative;
  color: #000000;
  font-weight: 500;
}

.site-navigation a:hover,
.cart a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.cart a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Описание слайдера*/

.slider {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
  vertical-align: inherit;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background-color: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item-decoration {
  max-width: 600px;
}


.slider-item h3 {
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  margin: 0;
  margin-bottom: 38px;
  color: #283136;
}

.slider-item-button {
  width: 240px;
  padding: 0 0;
  font-size: 16px;
  line-height: 18px;
  background-color: #fb565a;

}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*окончание слайдера*/
/*окончание header главной страницы*/

/*Описание main главной страницы*/

.main-site {
  margin-bottom: 80px;
}

.services {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
}

.development-services {
  margin-bottom: 80px;
}

.services li {
  text-align: center;
}

.services-item p {
  color: #283136;
}

.services-item p,
.services-item h3 {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-right: 10px;
}

.services-item h3 {
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  padding-bottom: 33px;
  color: #283136;
}

.services-item {
  margin: 0;
  padding: 0;
  width: 33.3333%;
  box-sizing: border-box;
  padding-right: 92px;
  position: relative;
  padding-top: 171px;
}

.services-item::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
  top: 0;
  left: 0;
}

.services-website::before {
  background-image: url("../img/card_service_websites.jpg");
  top: 0;
  left: 0;
}

.services-apps::before {
  background-image: url("../img/card_service_application.jpg");
  top: 0;
  left: 13px;
}

.services-apps {
  padding-left: 14px;
}

.services-presentation::before {
  background-image: url("../img/card_service_presentation.jpg");
  top: 0;
  left: 26px;
}

.services-presentation {
  padding-left: 26px;
}

.button-web-site {
  background-color: #fb565a;
}

.button-web-site:hover,
.button-web-site:focus {
  background-color: #e74246;
}

.button-web-site:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-apps {
  background-color: #00ca74;
}

.button-apps:hover,
.button-apps:focus {
  background-color: #00bc6c;
}

.button-apps:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-presentation {
  background-color: #efc84a;
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.about-nerds {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-bottom: 61px;
  border-top: 2px solid #f4f4f4;
  padding-top: 37px;
}

.opportunity {
  width: 680px;
}

.about-studio {
  padding: 0;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  padding-bottom: 32px;
  font-weight: 500;
  padding-top: 36px;
}

.slogan {
  padding: 0;
  margin: 0;
  padding-right: 20px;
  padding-bottom: 39px;
  color: #283136;
}

.opportunity p:nth-child(3) {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.orders {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

.orders li {
  position: relative;
  padding-top: 24px;
  padding-left: 35px;
  text-transform: none;
}

.orders li::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: red;
  width: 25px;
  left: 1px;
  top: 35px;
}

.cutaway {
  width: 360px;
  padding: 0;
  margin: 0;
}

.cutaway > p {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 17px;
}

.cutaway-logo {
  display: block;
  text-align: right;
  box-sizing: border-box;
  margin-bottom: 29px;
  margin-top: 2px;
}

.accuracy {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 42px;
}

.accuracy span {
  font-weight: bold;
  margin-right: 22px;
}

.accuracy li {
  text-transform: none;
  font-size: 45px;
  line-height: 10px;
}

.accuracy sup {
  font-weight: normal;
  font-size: 27px;
}

.accuracy li p {
  font-size: 16px;
  line-height: 18px;
  padding-top: 21px;
  color: #283136;
}

.friends {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 43px;
  padding-top: 49px;
}

.friends img {
  display: block;
  margin: 0 auto;
}

.logo-friends {
  position: relative;
  opacity: 0.2;
  width: 270px;
  margin-right: 40px;
}

.logo-friends:nth-child(2)::after {
  top: 13px;
}

.logo-friends:nth-child(4n)::after {
  display: none;
}

.logo-friends:nth-child(4n) {
  margin-right: 0;
}

.logo-friends:hover,
.logo-friends:focus {
  opacity: 1;
}

.logo-friends:active {
  opacity: 0.1;
}

.logo-friends::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: black;
  right: -22px;
  top: 0;
  opacity: 0.4;
}

/*Конец описания main главной страницы*/

/*описания footer главной страницы*/
.main-footer {
  margin-bottom: 70px;
}

.contacts {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  padding-top: 54px;
  padding-bottom: 54px;
  margin-bottom: 36px;
}

.contacts-map {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.contacts .container {
  display: flex;
  justify-content: flex-start;
}

.contacts-block {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 320px;
  position: relative;
  z-index: 10;
  background-color: #fff;
  padding-right: 56px;
  padding-bottom: 26px;
}

.button-write-us {
  width: 220px;
  background-color: #fb565a;
  margin-left: 50px;
  margin-bottom: 20px;
}

.button-write-us:hover,
.button-write-us:focus {
  background-color: #e74246;
}

.button-write-us:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.contacts-block p {
  padding: 0;
  margin: 0;
  padding-left: 50px;
}

.contacts-block p:nth-child(1) {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 22px;
  padding-top: 50px;
}

.contacts-block p:nth-child(2) {
  line-height: 18px;
  margin-bottom: 19px;
}

.contacts-block p:nth-child(3) {
  line-height: 18px;
  margin-bottom: 37px;
}

.container-social {
  display: flex;
  align-items: center;
}

.social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social {
  margin-top: 32px;
}

.bonus p:first-of-type {
  font-size: 36px;
  line-height: 36px;
  margin-left: 0;
  padding: 0;
  margin-bottom: 10px;
}

.bonus p:last-of-type {
  line-height: 22px;
  color: #444444;
  padding: 0;
  margin: 0;
}

.social-button {
  display: block;
  height: 80px;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.social-button:active {
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.bonus {
  margin: 0;
  padding: 0;
  margin-left: 140px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social li {

}

.social li:nth-child(2),
.social li:nth-child(3) {
  padding-left: 10px;
}

.vk {
  background-image: url("../img/icon_social_vk.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
  background-position: center;
}

.fb {
  background-image: url("../img/icon_social_fb.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: center;
}

.insta {
  background-image: url("../img/icon_social_insta.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: center;
}

.vk:hover,
.fb:hover,
.insta:hover,
.vk:focus,
.fb:focus,
.insta:focus {
  background-color: #e74246;
}

.vk:active {
  background-color: #d7373b;
  background-image: url("../img/icon_social_vk_dark.svg");
}

.fb:active {
  background-color: #d7373b;
  background-image: url("../img/icon_social_fb_dark.svg");
}

.insta:active {
  background-color: #d7373b;
  background-image: url("../img/icon_social_insta_dark.svg");
}

/*Разметка попапа*/

.modal {
  display: none;
  position: fixed;
  color: #000000;
  z-index: 30;
}

/*Для джава скрипт*/

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }

  50% {
    transform: translateX(2000px);
  }

  70% {
    transform: translateX(30px);
  }

  90% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
/*конец*/

.feedback-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.modal-feedback {
  width: 960px;
  padding: 50px 100px;
  bottom: 180px;
  left: 50%;
  margin-left: -480px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.feedback-close {
  position: absolute;
  top: 53px;
  right: 91px;
  height: 21px;
  width: 21px;
  font-size: 0;
  border: 0;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.3;
  background-color: #ffffff;
}

.feedback-close:hover,
.feedback-close:focus {
  opacity: 1;
}

.feedback-close:active {
  opacity: 0.1;
}

.modal h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-size: 45px;
  line-height: 45px;
}

.modal-feedback input[type^="text"],
.modal-feedback input[type^="email"],
.modal-feedback textarea {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.5;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  opacity: 1;
  border: 2px solid rgba(0, 0, 0, 1);
}

.modal-feedback input:invalid,
.modal-feedback textarea:invalid {
  opacity: 1;
  border: 2px solid #e74246;
  color: #e74246;
}

.modal-feedback input[type^="text"],
.modal-feedback input[type^="email"],
.modal-feedback textarea {
  box-sizing: border-box;
  padding: 16px 0;
  padding-left: 15px;
}

.modal-feedback input {
  display: block;
  width: 100%;
}

.information {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.information label {
  width: 360px;
}

.information label:nth-child(3) {
  width: 100%;
}

.information label:nth-child(2) {
  margin-left: 40px;
}

.information label:nth-child(1),
.information label:nth-child(2) {
  margin-bottom: 35px;
}

.comment input,
.comment textarea {
  margin-top: 13px;
}

.modal-feedback p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.feedback-form textarea {
  width: 100%;
  margin: 0;
  margin-bottom: 47px;
}

.feedback-form .button {
  width: 260px;
  background-color: #fb565a;
}

.your-name {
  margin-bottom: 1px;
}

/*Окончание попапа*/
/*Окончание описания futer главной страницы*/

/* страница католога*/
.decoration-shop:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  margin-top: 3px;
}

.main-navigation-catalog {
  margin-bottom: 79px;
}

.catalog-page h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 56px;
  padding-bottom: 107px

}

.main-catalog {
  margin-bottom: 59px;
}

.goods {
  display: flex;
}

/*Начало фильтра*/

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter {
  position: relative;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
  margin: 0;
  padding-left: 36px;
}

.filter-option label {
  display: block;
  cursor: pointer;
  user-select: none;
}

.price-controls label {
  color: #283136;
}

.filter-option label {
  color: #283136;
  line-height: 20px;
  margin-bottom: 21px;
}

.filter .filter-item {
  margin-bottom: 56px;
}

.filter .filter-item-radio {
  margin-bottom: 23px;
}

.filter-item-checkbox legend {
  padding-bottom: 12px;
}

.range-filter {
  width: 260px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 53px;
  padding-top: 1px;
}

.filter-item-radio legend,
.filter-item-radio legend {
  margin: 0;
  padding-bottom: 15px;
}

.filter-item-radio {
  margin-bottom: 1px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 16px;
  padding-top: 37px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 159px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  vertical-align: inherit;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 9px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.checkbox-feature {
  position: relative;
}

.checkbox-feature input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: -35px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  opacity: 0.4;
}

.checkbox-feature input[type="checkbox"]:focus + .checkbox-indicator,
.checkbox-feature input[type="checkbox"]:hover + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  opacity: 1;
}

.checkbox-feature input[type="checkbox"]:checked + .checkbox-indicator {
  content: "";

  position: absolute;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}

.radio-feature {
  position: relative;
}

.radio-feature input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -2px;
  left: -35px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;

  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.radio-feature input[type="radio"]:hover + .radio-indicator,
.radio-feature input[type="radio"]:focus + .radio-indicator {
  opacity: 1;
}

.radio-feature input[type="radio"]:checked + .radio-indicator {
  content: "";
  position: absolute;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.radio-feature input[type="radio"]:disabled + .radio-indicator,
.checkbox-feature input[type="checkbox"]:disabled + .checkbox-indicator {
  opacity: 0.1;
}

input:disabled ~ span {
  opacity: 0.3
}

input:disabled + span {
  opacity: 0.1;
}

/*Окончание фильтра*/

.templates-list {
  list-style: none;
}

.templates-list a {
  color: #000000;
}

/*описание кнопки "показать" фильтра страницы каталога*/
.submit {
  outline: none;
  border: 0px;
  border-radius: 1px;
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  height: 50px;
  width: 260px;
  margin-top: 27px;
}

.submit:hover,
.submit:focus {
  outline: none;
  border: 0px;
  background-color: #dfdfdf;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.submit:active {
  outline: none;
  border: 0px;
  background-color: #d5d5d5;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}
/*Окончание описания кнопки "показать" фильтра страницы каталога*/

.templates {
  margin-left: auto;
  width: 760px;
}

.sorting-item {
  display: flex;
  margin-bottom: 52px;
}


.sorting {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 76px;
  width: 360px;
  padding-right: 53px;
}

.sorting li {
  margin-right: 26px;
}

.sorting li:nth-child(3) {
  padding-right: 0;
}

.sorting-up-down {
  display: flex;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.down {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  position: absolute;
  top: 7px;
  right: 29px;
  opacity: 0.2
}

.up {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  position: absolute;
  top: 7px;
  right: 1px;
  opacity: 0.2
}

.down:hover,
.up:hover,
.down:focus,
.up:focus {
  opacity: 0.6;
}

.up:hover::after,
.up:active,
.up:active::after,
.down:hover::after,
.down:active,
.down:active::after {
  opacity: 1;
}

.sorting-up-down-active a {
  opacity: 1;
}

.sorting a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sorting a:hover,
.sorting a:focus {
  opacity: 0.6;
}

.sorting a:active {
  opacity: 1;
}

.sorting-active a {
  opacity: 1;
}

.sorting-item > span {
  width: 380px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  padding-top: 2px;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.templates-list li {
  padding: 0;
  margin: 0;
  width: 360px;
  margin-bottom: 31px;
  padding-top: 41px;
}

/*описание наложенной формы при выделении проекта*/
.description {
  display: none;
  height: 230px;
  text-align: center;
  background-color: #eeeeee;
  bottom: 0;
  left: 0;
}

.popap-description {
  position: relative;
}

.popap-description img {
  display: block;
}

.popap-description > a::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon_browser.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 40px;
  top: -39px;
  left: 0;
  opacity: 0.12;
}

.templates-list li:hover a::before {
  opacity: 1;
}

.popap-description:hover .description {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.description h3 {
  padding: 0;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.description p {
  margin: 0;
  padding: 0 80px;
  margin-bottom: 16px;
  color: #666666;
  line-height: 18px;
  overflow: auto;
  height: 50px;
}

.pink-description p,
.A-description p,
.kvast-description p {
  padding: 0 60px;
}

.popap-description .button {
  margin-left: auto;
  margin-right: auto;
  background-color: #fb565a;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  width: 200px;
}

.popap-description .button:hover,
.popap-description .button:focus {
  background-color: #e74246;
}

.popap-description .button:active {
  background-color: #d7373b;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  align-items: stretch;
  margin: 0;
  padding: 0;
  width: 450px;
}

.pagination-list a {
  display: flex;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  height: 50px;
  width: 50px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
}

.pagination-list li:nth-child(4) {
  width: 260px;
}

.pagination-item-next a {
  height: 50px;
  width: 100%;
}

.pagination-item a {
  background-color: #eeeeee;
}

.pagination-item-current a {
  border: 3px solid #dfdfdf;
  background-color: #ffffff;
  height: 44px;
  width: 44px;
}

.pagination-item a:hover:not(.pagination-item-current),
.pagination-item a:focus:not(.pagination-item-current) {
  background-color: #dfdfdf;
}

.pagination-item a:active:not(.pagination-item-current) {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.pagination-item-next a:hover,
.pagination-item-next a:focus {
  width: 100%;
}

.main-footer-catalog {
  margin-bottom: 20px;
}

/*Окончание страницы каталога*/
