body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  border: none;
  background-color: #ffffff;
}

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.cart a {
  color: #000000;
}

.site-navigation a:hover,
.cart a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.cart a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.5);
}

.services {
  list-style: none;
}

.services .services-header {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services li {
  text-align: center;
}

.button-web-site {
  background-color: #fb565a;
}

.button-web-site:hover {
  background-color: #e74246;
}

.button-web-site:focus{
  background-color: #e74246;
}

.button-web-site:active{
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-apps {
  background-color: #00ca74;
}

.button-apps:hover {
  background-color: #00bc6c;
}

.button-apps:focus {
  background-color: #00bc6c;
}

.button-apps:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-presentation {
  background-color: #efc84a;
}

.button-presentation:hover {
  background-color: #eab534;
}

.button-presentation:focus {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social ul {
  list-style: none;

  text-align: center;
}

.footer-social a{
  color: #000000;
}

.bonus p {
  text-align: center;
}

.bonus p:first-of-type {
  font-size: 36px;
  line-height: 36px;
}

.bonus p:last-of-type{
  line-height: 22px;
}

/* страница католога*/
.catalog-page h1 {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: red;
}

.filter-input:disabled + label {
  color: red/*rgba(0, 0, 0, 0.3)*/;
}

.templates-list {
  list-style: none;
}

.templates-list a {
  color: #000000;
}

.submit {
  outline: none;
  border: 0px;
  border-radius: 1px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.submit:hover {
  outline: none;
  border: 0px;
  background-color: #dfdfdf;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.submit:focus {
  outline: none;
  border: 0px;
  background-color: #dfdfdf;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.submit:active {
  outline: none;
  border: 0px;
  background-color: #d5d5d5;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 -3px 0 0 #bfbfbf;
}
