body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

/*body > * {
  background-color: rgba(255, 0, 0, 0.5);
}

body > * > * {
  background-color: rgba(255, 255, 0, 0.5);
}

body > * > * > * {
  background-color: rgba(0, 255, 0, 0.5);
}

body > * > * > * > * {
  background-color: rgba(0, 255, 255, 0.5);
}*/

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.button {
  width: 160px;
  height: 50px;
  font: inherit;
  border-radius: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 18px;

  border: none;
  background-color: #ffffff;
}

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
  font-weight: bold;
}

.site-navigation a,
.cart a {
  color: #000000;
}

.site-navigation a:hover,
.cart a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.cart a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.5);
}

.services {
  list-style: none;
}

.services .services-header {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services li {
  text-align: center;
}

.button-web-site {
  background-color: #fb565a;
}

.button-web-site:hover,
.button-web-site:focus {
  background-color: #e74246;
}

.button-web-site:active{
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-apps {
  background-color: #00ca74;
}

.button-apps:hover,
.button-apps:focus {
  background-color: #00bc6c;
}

.button-apps:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-presentation {
  background-color: #efc84a;
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social a {
  color: #000000;
}

.bonus p {
  text-align: center;
}

.bonus p:first-of-type {
  font-size: 36px;
  line-height: 36px;
}

.bonus p:last-of-type{
  line-height: 22px;
}

/* страница католога*/
.catalog-page h1 {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.templates-list {
  list-style: none;
}

.templates-list a {
  color: #000000;
}

.submit {
  outline: none;
  border: 0px;
  border-radius: 1px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.submit:hover,
.submit:focus {
  outline: none;
  border: 0px;
  background-color: #dfdfdf;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.submit:active {
  outline: none;
  border: 0px;
  background-color: #d5d5d5;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 -3px 0 0 #bfbfbf;
}

.services-item p,
.services-item h3 {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-right: 10px;
}

.services-item h3 {
  padding-bottom: 20px;
}

.services-item p {
  padding-bottom: 30px;
}

.services-item {
  margin: 0;
  padding: 0;
  width: 33.33333%;
  box-sizing: border-box;
  padding-right: 80px;
  position: relative;
  padding-top: 175px;
}

.services-item::before {
  content: '';
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
  top: 0;
  left: 0;
}

.services-website::before {
  background-image: url("../img/card_service_websites.jpg");
}

.services-apps::before {
  background-image: url("../img/card_service_application.jpg");
}

.services-presentation::before {
  background-image: url("../img/card_service_presentation.jpg");
}

/*описания фона кнопок соц сетей*/
.social-button {
  display: block;
  height: 80px;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.main-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bonus{
  margin-left: 140px;
}

.social {
  display: flex;
  justify-content: flex-start;
}

.social li:nth-child(2),
.social li:nth-child(3) {
  padding-left: 15px;
}

.vk {
  background-image: url("../img/icon_social_vk.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
  background-position: center;
}

.fb {
  background-image: url("../img/icon_social_fb.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: center;
}

.insta {
  background-image: url("../img/icon_social_insta.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: center;
}

.vk:hover,
.fb:hover,
.insta:hover,
.vk:focus,
.fb:focus,
.insta:focus {
  background-color: #e74246;
}

.vk:active {
  background-color: #d7373b;
  background-image: url("../img/icon_social_vk_dark.svg");
}

.fb:active {
  background-color: #d7373b;
  background-image: url("../img/icon_social_fb_dark.svg");
}

.insta:active {
  background-color: #d7373b;
  background-image: url("../img/icon_social_insta_dark.svg");
}

.modal-feedback {
  width: 960px;
  height: 595px;
}

.feedback-close {
  height: 21px;
  width: 21px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: flex-start;
}

/*описание наложенной формы при выделении проекта*/
.write {
  display: none;
  height: 230px;
  /*width: 360px;*/
  text-align: center;
  background-color: white;
}

.popap-write {
  position: relative;
}

.popap-write:hover .write {
  display:block;
  position:absolute;
  z-index:1;
  top: 346px;
}

.browser {
  opacity: 0.12;
}

.browser:hover .write

.write h3 {
  padding-top: 30px;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.write p {
  padding: 0 80px;
  margin-bottom: 30px;
}

.button-price {
  margin-left: auto;
  margin-right: auto;
  background-color: #fb565a;
  line-height: 18px;
  text-transform: uppercase;
}

.button-price:hover,
.button-price:focus {
  background-color: #e74246;
}

.button-price:active {
  background-color: #d7373b;
}

.pink-write p,
.A-write p,
.kvast-write p {
  padding: 0 60px;
}

.templates-list li {
  width: 360px;
}

.pagination-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  width: 380px;
}

.pagination-list a {
  color: #000000;
}

.pagination-item:hover,
.pagination-item:focus {

}

.pagination-item:active {

}

/*Сетка*/

.services{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-left: 0;
}

.main-header {
  background-color: #eeeeee;
  margin-bottom: 35px;
  margin-top: 49px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-header-logo {
  margin-right: 20px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  padding: 0px;
  margin: 0px;
  padding-left: 180px;
  padding-right: 160px;
  list-style: none;
}

.site-navigation li {
  margin-left: 49px;
}

.cart {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0px;
  width: 160px;
  padding-left: 40px;

  margin-left: 20px;
  margin-right: 20px;
}

.cart::before {
  position: absolute;
  content: " ";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon_cart.svg");
  background-repeat: no-repeat;
  top: 6px;
  left: 0;
}

.development-services{
  margin-bottom: 122px;
}

.main-site {
  min-height: 1220px; /*временно*/
}

.goods {
  display: flex;
}

.templates {
  margin-left: auto;
  width: 760px;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.main-footer-catalog {
  margin-bottom: 20px;
}

.cutaway-logo {
  display: block;
  text-align: right;
  box-sizing: border-box;
  margin-bottom: 38px;
}

.friends {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.friends img {
  display: block;
}

.logo-friends {
  opacity: 0.2;
}

.logo-friends:hover,
.logo-friends:focus {
  opacity: 1;
}

.logo-friends:active {
  opacity: 0.1;
}


.about-nerds {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-bottom: 125px;

}

.opportunity {
  width: 680px;
}

.about-studio {
  padding: 0;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  padding-bottom: 30px;
}

.slogan {
  padding: 0;
  margin: 0;
  padding-right: 20px;
  padding-bottom: 40px;
}

.orders {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

.orders li {
  padding-top: 30px;
  padding-left: 35px;
  text-transform: none;
}

.cutaway {
  width: 360px;
  padding: 0;
  margin: 0;
}

.accuracy {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 20px;
}

.accuracy span {
  font-weight: bold;
}

.accuracy li {
  text-transform: none;
  font-size: 45px;
  line-height: 10px;
  /*font-weight: bold;*/
}

.accuracy sup {
  font-weight: normal;
}

.accuracy li p {
  font-size: 16px;
  line-height: 18px;
  padding-top: 25px;
}

.browser {
  padding: 0;
  margin: 0;
  /*background-image: url("../img/icon_browser_.png");
  background-repeat: no-repeat;
  background-size: 360px 40px;
  display: inline-block;
  top: 0;
  left: 0*/
}

.sorting {
  display: flex;
}

.sorting-item {
  display: flex;
}

/* начало слайдера*/

.slider {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background-color: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item-decoration {
  max-width: 600px;
}


.slider-item h3 {
  /*max-width: 600px;*/
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
 /* max-width: 430px;*/
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-button {
  width: 240px;
  padding: 0 0;
  font-size: 16px;
  line-height: 18px;
  background-color: #fb565a;

}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/* конец слайдера*/

/*начало фильтра*/
.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
/*Конец фильтра*/
